--- 
layout: default 
---
<!-- Section primary: Work Here -->
<section class="section-work-here">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="skills-tree-container">
                    <div class="skills-tree-nibo">
                        <img src="/images/logo-nibo-circle.png" alt="">
                    </div>
                    <div class="skills-tree-unit skills-tree-vscode">
                        <img src="/images/vscode.png" alt="">
                    </div>
                    <div class="skills-tree-unit skills-tree-slack">
                        <img src="/images/slack_alt.png" alt="">
                    </div>
                    <div class="skills-tree-unit skills-tree-raygun">
                        <img src="/images/raygun.png" alt="">
                    </div>
                    <div class="skills-tree-unit skills-tree-unit-large skills-tree-visual">
                        <img src="/images/visual.png" alt="">
                    </div>
                    <div class="skills-tree-unit-large skills-tree-git">
                        <img src="/images/git.png" alt="">
                    </div>
                    <div class="skills-tree-unit-large skills-tree-sql">
                        <img src="/images/sql.png" alt="">
                    </div>
                    <div class="skills-tree-unit-large skills-tree-postman">
                        <img src="/images/postman.png" alt="">
                    </div>
                    <div class="skills-tree-unit-small skills-tree-unit-small-0"></div>
                    <div class="skills-tree-unit-small skills-tree-unit-small-1"></div>
                    <div class="skills-tree-unit-small skills-tree-unit-small-2"></div>
                    <div class="skills-tree-unit-small skills-tree-unit-small-3"></div>
                    <div class="skills-tree-unit-small skills-tree-unit-small-4"></div>
                    <div class="skills-tree-unit-small skills-tree-unit-small-5"></div>
                    <div class="skills-tree-unit-small skills-tree-unit-small-6"></div>
                    <div class="diagonal diagonal-0"></div>
                    <div class="diagonal diagonal-1"></div>
                    <div class="diagonal diagonal-2"></div>
                    <div class="diagonal diagonal-3"></div>
                    <div class="diagonal diagonal-4"></div>
                    <div class="diagonal diagonal-5"></div>
                    <div class="diagonal diagonal-6"></div>
                </div>
            </div>
            <div class="col-lg-6">
                <h1 class="header-title">Quer trabalhar com <span id="dinamic-type">.NET CORE?</span></h1>
                <p class="header-desc">Desenvolvimento de alta performance para geeks inquietos.</p>
                <p>
                    <span>Work faster, harder, smarter with us.</span>
                </p>
                <a class="btn btn-primary" href="#section-open-jobs">VER VAGAS</a>
            </div>
        </div>
    </div>
    <span class="scroll-down-indicator d-none d-lg-block"></span>
</section>

<!-- Section Our Way -->
<section class="section-our-way" id="section-our-way">
    <div class="container">
        <div class="section-title-container">
            <h1 class="section-title">O jeito NIBO de ser</h1>
        </div>
        <div class="row">
            <div class="col-lg-2 text-center">
                <img src="/images/brain-icon.png" alt="">
            </div>
            <div class="col-lg-4">
                <h4>Somente os inteligentes sobrevivem</h4>
                <p class="our-way-text-block">Nossa equipe é extremamente inteligente e talentosa.
                    <br> Procuramos apenas os melhores do mercado.
                    <br> Acreditamos que um time enxuto e versátil vale muito mais.
                </p>
            </div>
            <div class="col-lg-4 text-right">
                <h4>Muita autonomia, muita responsa </h4>
                <p class="our-way-text-block">Trabalhamos com <strong>SQUADS</strong>, cada time de produto toma a decisão sobre o que fazer e como fazer para alcançar seus objetivos. Isso envolve a construção da ideia, a escolha das tecnologias, a definição da metodologia de execução, o desenvolvimento da solução e a subida para produção.
                </p>
            </div>
            <div class="col-lg-2 text-center d-none d-lg-block">
                <img src="/images/shirt-icon.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 text-center d-none d-lg-block">
                <img src="/images/lamp-icon.png" alt="">
            </div>
            <div class="col-lg-4">
                <h4>Desafios que impressionam</h4>
                <p class="our-way-text-block">Não temos apenas um produto. Temos uma cartela de soluções incríveis para atingir os mais variados objetivos da empresa. Desde construir um servidor de autenticação oAuth do zero até a implementação de um detector de fedor no banheiro masculino.
                </p>
            </div>
            <div class="col-lg-4 text-right">
                <h4>Crescimento acelerado</h4>
                <p class="our-way-text-block">Nosso objetivo é dominar o mercado brasileiro e para isso acontecer, dependemos de pessoas. Se elas fizerem o Nibo crescer, elas também crescem rápido. Os feedbacks são constantes e incentivamos você a não entrar na inércia.
                </p>
            </div>
            <div class="col-lg-2 text-center d-none d-lg-block">
                <img src="/images/trees-icon.png" alt="">
            </div>
        </div>
    </div>
</section>

<!-- Section Skills: tech stack -->
<section class="section-stack" id="section-stack">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="section-stack-text section-stack-text-up">
                    <p>As mais recentes tecnologias em um só <br class="d-none d-lg-block">lugar. Somos uma startup inovadora <br class="d-none d-lg-block">e incetivamos o aprendizado.</p>
                </div>
                <div class="section-stack-text section-stack-text-down">
                    <p>Agilidade é um dos pilares de <br class="d-none d-lg-block">desenvolvimento. Todos os projetos <br class="d-none d-lg-block">estão com Continuous Delivery configurado.</p>
                </div>
            </div>

            <div class="col-lg-7 d-none d-lg-block">
                <div class="section-stack-skills">
                    <div class="section-stack-skills-container">
                        <span class="section-stack-skill section-stack-skill-1">C# .NET</span>
                        <span class="section-stack-skill section-stack-skill-2">GULP</span>
                        <span class="section-stack-skill section-stack-skill-3">Angular</span>
                        <span class="section-stack-skill section-stack-skill-4">TDD</span>
                        <span class="section-stack-skill section-stack-skill-5">SASS</span>
                        <span class="section-stack-skill section-stack-skill-6">VSTS</span>
                        <span class="section-stack-skill section-stack-skill-7">SOLID</span>
                        <span class="section-stack-skill section-stack-skill-8">Web Pack</span>
                        <span class="section-stack-skill section-stack-skill-9">MVC</span>
                        <span class="section-stack-skill section-stack-skill-10">SPA</span>
                        <span class="section-stack-skill section-stack-skill-11">SQL</span>
                        <span class="section-stack-skill section-stack-skill-12">WebAPI</span>
                        <span class="section-stack-skill section-stack-skill-13">Cosmos DB</span>
                        <span class="section-stack-skill section-stack-skill-14">ASP.NET CORE</span>
                        <span class="section-stack-skill section-stack-skill-15">Azure</span>
                        <span class="section-stack-skill section-stack-skill-16">DDD</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section Cozy Place -->
<section class="section-cozy-place d-none d-lg-block" id="section-cozy-place">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 text-center section-cozy-place-item">
                <img src="images/cap-icon.png" alt="">
                <h5>Ambiente informal</h5>
                <p>Queremos que você trabalhe de <br> maneira confortável e tranquila.</p>
            </div>
            <div class="col-lg-3 text-center section-cozy-place-item">
                <img src="images/coffee-icon.png" alt="">
                <h5>Café à vontade</h5>
                <p>Café ilimitado para não deixar os <br>neurônios pifarem.</p>
            </div>
            <div class="col-lg-3 text-center section-cozy-place-item">
                <img src="images/joystick-icon.png" alt="">
                <h5>Ambiente descontraído</h5>
                <p>Quer desestressar? Utilize o CTO como <br> alvo da Nerf ou marque um torneio de CS com os melhores.</p>
            </div>
            <div class="col-lg-3 text-center section-cozy-place-item">
                <img src="images/superman-icon.png" alt="">
                <h5>Estrutura horizontal</h5>
                <p>A sua voz tem o mesmo poder do CEO. <br> Você participa das decisões e suas ideias <br> são reconhecidas.</p>
            </div>
        </div>
    </div>
</section>

<!-- Section Opened Jobs -->
<section class="section-open-jobs" id="section-open-jobs">
    <div class="section-title-container">
        <h2 class="section-title">Vagas abertas</h2>
        <h3 class="section-subtitle">Rio de Janeiro</h3>
    </div>

    <nav class="section-open-jobs-menu">
        <div class="container">
            <div class="row">
                <div class="col-md-4 section-open-jobs-menu-item">
                    <a class="section-open-jobs-menu-item-link" href="#job-csharp-developer">
                        <img src="/images/knives-icon.png" alt="" class="job-icon">
                        <h3>C# .NET Developer</h3>
                    </a>
                </div>
                <div class="col-md-4 section-open-jobs-menu-item">
                    <a class="section-open-jobs-menu-item-link" href="#job-front-end">
                        <img src="/images/knifeboard-icon.png" alt="" class="job-icon">
                        <h3>Front-end Developer</h3>
                    </a>
                </div>
                <div class="col-md-4 section-open-jobs-menu-item">
                    <a class="section-open-jobs-menu-item-link" href="#job-ui">
                        <img src="/images/hat-icon.png" alt="" class="job-icon">
                        <h3>UI Designer</h3>
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <div class="open-job-descriptions">
        <div class="container">
            {% include jobs/csharp-developer.html %}
            {% include jobs/front-end-developer.html %}
            {% include jobs/ui.html %}
        </div>
    </div>
</section>

<!-- Section Workplace -->
<section class="section-workplace" id="section-work-place">
    <div class="section-title-container">
        <h2 class="section-title">Quem faz a diferença</h2>
        <h3 class="section-subtitle"></h3>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 section-workplace-photo section-workplace-photo-1"></div>
            <div class="col-lg-2 section-workplace-photo section-workplace-photo-2"></div>
            <div class="col-lg-2 section-workplace-photo section-workplace-photo-3"></div>
            <div class="col-lg-4 section-workplace-photo section-workplace-photo-4"></div>
        </div>
        <div class="row">
            <div class="col-lg-2 section-workplace-photo section-workplace-photo-5"></div>
            <div class="col-lg-4 section-workplace-photo section-workplace-photo-6"></div>
            <div class="col-lg-4 section-workplace-photo section-workplace-photo-7"></div>
            <div class="col-lg-2 section-workplace-photo section-workplace-photo-8"></div>
        </div>
    </div>
</section>