<header class="header">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-6">
                <div class="logo-box">
                    <img src="https://www.nibo.com.br/logo-nibo.png" alt="Logo">
                </div>
                <div class="skills-tree-container">
                    <div class="skills-tree-nibo"><img src="/images/logo-nibo-circle.png" alt=""></div>
                    <div class="skills-tree-unit skills-tree-vscode"><img src="/images/vscode.ico" alt=""></div>
                    <div class="skills-tree-unit skills-tree-slack"><img src="/images/slack_alt.png" alt=""></div>
                    <div class="skills-tree-unit skills-tree-raygun"><img src="/images/raygun.jpg" alt=""></div>
                    <div class="skills-tree-unit-large skills-tree-visual"><img src="/images/visual.ico" alt=""></div>
                    <div class="skills-tree-unit-large skills-tree-git"><img src="/images/git.png" alt=""></div>
                    <div class="skills-tree-unit-large skills-tree-sql"><img src="/images/sql.png" alt=""></div>
                    <div class="skills-tree-unit-large skills-tree-postman"><img src="/images/postman.png" alt=""></div>
                    <div class="skills-tree-unit-small skills-tree-unit-small-0"></div>
                    <div class="skills-tree-unit-small skills-tree-unit-small-1"></div>
                    <div class="skills-tree-unit-small skills-tree-unit-small-2"></div>
                    <div class="skills-tree-unit-small skills-tree-unit-small-3"></div>
                    <div class="skills-tree-unit-small skills-tree-unit-small-4"></div>
                    <div class="skills-tree-unit-small skills-tree-unit-small-5"></div>
                    <div class="skills-tree-unit-small skills-tree-unit-small-6"></div>
                    <div class="diagonal diagonal-0"></div>
                    <div class="diagonal diagonal-1"></div>
                    <div class="diagonal diagonal-2"></div>
                    <div class="diagonal diagonal-3"></div>
                    <div class="diagonal diagonal-4"></div>
                    <div class="diagonal diagonal-5"></div>
                    <div class="diagonal diagonal-6"></div>
                </div>
            </div>
            <div class="col-md-6">
                <h1 class="header-title">Quer trabalhar com .NET CORE?_</h1>
                <p class="header-desc">Desenvolvimento de alta performance para geeks inquietos.</p>
                <p><span>Work faster, harder, smarter with us.</span></p>
                <button class="action-button">
                VER VAGAS
            </button>
            </div>
        </div>
    </div>
</header>