//Colours
//======================
$theme-base:                    #373842
$body-bg:                       $theme-base
$default-text-color:            #EBEBEB
$default-btn-color:             #4CA2E8
$secondary-color:               #454752
$secondary-inverted-color:      #292E35

//Fonts
//======================
$default-font-family:       "Open Sans", "Arial"

//Sizes
//======================
$container-width:               1220px
$default-text-size:             14px