<article id="job-csharp-developer" class="open-job-description">
    <div class="row">
        <div class="col-md-6">
            <div class="open-job-description-block">
                <h3 class="open-job-description-title">Desafios e responsabilidades</h3>
                <p class="open-job-description-topic">Será parte integrante do time de produto, desenvolvendo ao lado de outros desenvolvedores as soluções necessárias para atingir os objetivos, incluindo a manutenção do código, geração de testes unitários e correção de bugs.</p>
                <p class="open-job-description-topic">Sua atuação é abrangente e inclui projetos legados em MVC, novas WebAPIs e SPAs.</p>
                <p class="open-job-description-topic">Ajudar o time a tomar decisões, demonstrando técnicas e ferramentas.</p>
                <p class="open-job-description-topic">Junto com o time, arquitetar soluções robustas, escaláveis e performáticas.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="open-job-description-block">
                <h3 class="open-job-description-title">Requisitos</h3>
                <p class="open-job-description-topic">Conhecimento de Design Patterns, TDD e BDD.</p>
                <p class="open-job-description-topic">Experiência com desenvolvimento em C# .NET MVC e WebAPIs.</p>
                <p class="open-job-description-topic">Experiência com SQL, LINQ e Entity Framework.</p>
                <p class="open-job-description-topic">Conhecimentos básicos sobre HTML, CSS e Javascript.</p>
                <p class="open-job-description-topic">Familiaridade com metodologias ágeis e GIT.</p>
                <p class="open-job-description-topic">Ser viciado em tecnologia, querendo aprender todos os dias.</p>
                <p class="open-job-description-topic">Ser proativo, possuir um ótimo raciocínio lógico, ter atenção aos detalhes e possuir alto nível de comprometimento.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="open-job-description-block">
                <h3 class="open-job-description-title">Conhecimento desejável</h3>
                <p class="open-job-description-topic">Windows Azure</p>
                <p class="open-job-description-topic">SPA em Angular.js</p>
                <p class="open-job-description-topic">Continuous Delivery e Continuous Integration</p>

            </div>
        </div>
        <div class="col-md-6">
            <div class="open-job-description-block">
                <h3 class="open-job-description-title">Quero me candidatar</h3>
                <p class="open-job-description-topic">Para se candidatar, envie um email para <strong>cv@nibo.com.br</strong> com o assunto "Vaga Desenvolvedor Full-Stack". Anexe seu currículo e responda à pergunta: Por que o Nibo deveria me contratar?</p>
            </div>
        </div>
    </div>
</article>