<article id="job-dba" class="open-job-description">
    <div class="row">
        <div class="col-md-6">
            <div class="open-job-description-block">
                <h3 class="open-job-description-title">Desafios e responsabilidades</h3>
                <p class="open-job-description-topic">Dimensionar, administrar e implementar estrutura de bancos MSSQL em ambiente cloud</p>
                <p class="open-job-description-topic">Planejar e e executar ações para segurança e integridade dos dados. Além de rotinas de backups, estruturar permissões de acesso/escrita/execução</p>
                <p class="open-job-description-topic">Implementar ferramentas de métricas, gestão dos bancos e processos de continuous delivery e versionamento de scripts</p>
                <p class="open-job-description-topic">Fazer análise de planos de execução e montar planos de ação para melhorar e garantir performance</p>
                <p class="open-job-description-topic">Fornecer orientação estratégica e técnica para os desenvolvedores, bem como garantir a qualidade das operações executadas e analisar requisitos</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="open-job-description-block">
                <h3 class="open-job-description-title">Requisitos</h3>
                <p class="open-job-description-topic">Sólida experiência com Microsoft SQL Server, incluindo tuning, monitoramento, design e arquitetura</p>
                <p class="open-job-description-topic">Escolaridade: Ensino Superior completo/cursando em Ciência da Computação, Sistemas de Informação, Engenharia de Software ou cursos relacionados</p>
                <p class="open-job-description-topic">Ser viciado em tecnologia, querendo aprender todos os dias.</p>
                <p class="open-job-description-topic">Ser proativo, possuir um ótimo raciocínio lógico, ter atenção aos detalhes e possuir alto nível de comprometimento</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="open-job-description-block">
                <h3 class="open-job-description-title">Conhecimento desejável</h3>
                <p class="open-job-description-topic">Experiência com Azure</p>
                <p class="open-job-description-topic">Experiência com Powershell</p>
                <p class="open-job-description-topic">Conhecimento de C# .NET</p>
                <p class="open-job-description-topic">Conhecimento de MongoDB</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="open-job-description-block">
                <h3 class="open-job-description-title">Quero me candidatar</h3>
                <p class="open-job-description-topic">Para se candidatar, envie um email para <strong>cv@nibo.com.br</strong> com o assunto "Vaga DBA". Anexe seu currículo e responda à pergunta: Por que o Nibo deveria me contratar?</p>
            </div>
        </div>
    </div>
</article>