<article id="job-devops" class="open-job-description">
    <div class="row">
        <div class="col-md-6">
            <div class="open-job-description-block">
                <h3 class="open-job-description-title">Desafios e responsabilidades</h3>
                <p class="open-job-description-topic">Realizar dimensionamento de infraestrutura e tirar métricas, bem como garantir e executar as operações do dia a dia das infraestruturas de produção e desenvolvimento para uma plataforma de SaaS em ambientes Cloud.</p>
                <p class="open-job-description-topic">Garantir alto nível de estabilidade e baixo custo dos serviços.</p>
                <p class="open-job-description-topic">Ajudar o time a tomar decisões, demonstrando técnicas e ferramentas.</p>
                <p class="open-job-description-topic">Fornecer orientação estratégica para os times e executar operações relativas à segurança, performance, testes automatizados, integração contínua e deploy contínuo.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="open-job-description-block">
                <h3 class="open-job-description-title">Requisitos</h3>
                <p class="open-job-description-topic">Experiência com ferramentas de automação como VSTS, Jenkins, Travis...</p>
                <p class="open-job-description-topic">Conhecimento avançado em GIT</p>
                <p class="open-job-description-topic">Experiência com Newrelic ou similares</p>
                <p class="open-job-description-topic">Experiência com C# .NET e SQL Server</p>
                <p class="open-job-description-topic">Conhecimentos avançados em IIS</p>
                <p class="open-job-description-topic">Inglês fluente</p>
                <p class="open-job-description-topic">Escolaridade: Ensino Superior completo/cursando em Ciência da Computação, Sistemas de Informação, Engenharia de Software ou cursos relacionados</p>
                <p class="open-job-description-topic">Ser viciado em tecnologia, querendo aprender todos os dias.</p>
                <p class="open-job-description-topic">Ser proativo, possuir um ótimo raciocínio lógico, ter atenção aos detalhes e possuir alto nível de comprometimento.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="open-job-description-block">
                <h3 class="open-job-description-title">Experiência desejável</h3>
                <p class="open-job-description-topic">Experiência com Azure</p>
                <p class="open-job-description-topic">Experiência com Azure DevOps (a.k.a. VSTS)</p>
                <p class="open-job-description-topic">Experiência com Virtualização, especialmente Docker</p>
                <p class="open-job-description-topic">Experiência com testes de performance e sua análise utilizando geradores de carga e escala de softwares vertical e horizontal</p>

            </div>
        </div>
        <div class="col-md-6">
            <div class="open-job-description-block">
                <h3 class="open-job-description-title">Quero me candidatar</h3>
                <p class="open-job-description-topic">Para se candidatar, envie um email para <strong>cv@nibo.com.br</strong> com o assunto "Vaga DevOps". Anexe seu currículo e responda à pergunta: Por que o Nibo deveria me contratar?</p>
            </div>
        </div>
    </div>
</article>