<article id="job-front-end" class="open-job-description">
    <div class="row">
        <div class="col-md-6">
            <div class="open-job-description-block">
                <h3 class="open-job-description-title">Desafios e responsabilidades</h3>
                <p class="open-job-description-topic">Será parte integrante do time de produto, desenvolvendo ao lado de outros desenvolvedores as soluções necessárias para atingir os objetivos, incluindo a manutenção do código e correção de bugs.</p>
                <p class="open-job-description-topic">Sua atuação é abrangente e inclui projetos legados em .NET MVC e novas SPAs.</p>
                <p class="open-job-description-topic">Ajudar o time a tomar decisões, demonstrando técnicas e ferramentas.</p>
                <p class="open-job-description-topic">Junto com a guilda de Front-end, definir os padrões a serem utilizados.</p>
                <p class="open-job-description-topic">Junto com o time, arquitetar soluções robustas, escaláveis e performáticas.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="open-job-description-block">
                <h3 class="open-job-description-title">Requisitos </h3>
                <p class="open-job-description-topic">Sólida experiência com aplicações ricas em HTML5</p>
                <p class="open-job-description-topic">Conhecimentos aprofundados de jQuery</p>
                <p class="open-job-description-topic">Experiência com Angular.js</p>
                <p class="open-job-description-topic">Desenvolvimento com pré-processadores CSS como SASS</p>
                <p class="open-job-description-topic">Fundamental conhecimento sobre Gulp, Grunt, NPM, Bower (urgh!), Yarn...</p>
                <p class="open-job-description-topic">Noções básicas de design, coerência e coesão visual</p>
                <p class="open-job-description-topic">Familiaridade com metodologias ágeis e GIT</p>
                <p class="open-job-description-topic">Ser viciado em tecnologia, querendo aprender todos os dias</p>
                <p class="open-job-description-topic">Ser proativo, possuir um ótimo raciocínio lógico, possuir alto nível de comprometimento e atencioso com os detalhes</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="open-job-description-block">
                <h3 class="open-job-description-title">Experiência desejável</h3>
                <p class="open-job-description-topic">Aplicações com Angular 4, React ou Vue.js</p>
                <p class="open-job-description-topic">Desenvolvimento em C# .NET</p>
                <p class="open-job-description-topic">ES6+ com Typescript ou Babel.js</p>
                <p class="open-job-description-topic">Webpacks</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="open-job-description-block">
                <h3 class="open-job-description-title">Quero me candidatar</h3>
                <p class="open-job-description-topic">Para se candidatar, envie um email para <strong>cv@nibo.com.br</strong> com o assunto "Vaga Desenvolvedor Front-end". Anexe seu currículo e responda à pergunta: Por que o Nibo deveria me contratar?</p>
            </div>
        </div>
    </div>
</article>