<article id="job-ui" class="open-job-description">
        <div class="row">
            <div class="col-md-6">
                <div class="open-job-description-block">
                    <h3 class="open-job-description-title">Desafios e responsabilidades</h3>
                    <p class="open-job-description-topic">Projetar interfaces consistentes web e mobile por meio de wireframes, protótipos e componentes que primam pelos princípios de usabilidade aliados a um bom design.</p>
                    <p class="open-job-description-topic">Você fará parte do time composto por desenvolvedores back-end e front-end, e Product Manager. Irá atuar em conjunto com o time para construir novas funcionalidades e aperfeiçoar as existentes.</p>
                    <p class="open-job-description-topic">Se comunicar bem de forma verbal e escrita. Aprender a defender suas ideias de design é importante para a gente.</p>
                    <p class="open-job-description-topic">Ser atento aos detalhes de interface, fluxo e design.</p>
                    <p class="open-job-description-topic">Sempre buscar melhorias na interface para aprimorar a vida do usuário.</p>
                    <p class="open-job-description-topic">Ser pró-ativo no que diz respeito às melhores decisões de design que vão de encontro com a estratégia do produto sem que alguém precise sempre dizer como tem que ser feito.</p>
                    <p class="open-job-description-topic">Realizar testes de usabilidade com usuários para melhor fundamentar seus argumentos de design.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="open-job-description-block">
                    <h3 class="open-job-description-title">Requisitos</h3>
                    <p class="open-job-description-topic">O primeiro e mais importante: amar o que você faz. É importante para gente te ver fazendo o que gosta diariamente e feliz.</p>
                    <p class="open-job-description-topic">Saber utilizar ferramentas gráficas e de prototipação para apresentar suas ideias como Photoshop, Illustrator, Sketch, Adobe XD ou similares, Invision, Marvel, entre outros.</p>
                    <p class="open-job-description-topic">Conhecer os seus últimos trabalhos (portfólio) nos ajuda bastante para avaliar construção visual, mas além disso queremos saber se alguns de seus projetos fizeram a diferença para melhorar a vida do usuário.</p>
                    <p class="open-job-description-topic">Saber planejar minimamente antes de sair executando. Ouvir, ouvir e anotar são requisitos fundamentais.</p>
                    <p class="open-job-description-topic">Lidar bem com críticas. Um bom design não é nada sem críticas que possibilitam a melhoria do seu trabalho.</p>
                    <p class="open-job-description-topic">Ensino superior completo em Design, Comunicação Social ou áreas afins.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="open-job-description-block">
                    <h3 class="open-job-description-title">Experiência desejável</h3>
                    <p class="open-job-description-topic">Tiver conhecimento em HTML e CSS para melhor gerenciar e resolver questões entre o design e front-end.</p>
                    <p class="open-job-description-topic">Ter trabalhado com metodologias ágeis (scrum, kanban, etc).</p>
                    <p class="open-job-description-topic">Utiliza números para te ajudar ainda mais a defender suas ideias.</p>
                    <p class="open-job-description-topic">Conhecer métodos de pesquisa de UX Design.</p>
                    <p class="open-job-description-topic">For familiarizado com o conceito Mobile First.</p>
                    <p class="open-job-description-topic">Tiver conhecimento sobre desenho, iconografia e todo o universo design, teórico e prático.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="open-job-description-block">
                    <h3 class="open-job-description-title">Quero me candidatar</h3>
                    <p class="open-job-description-topic">Para se candidatar, envie um email para <strong>cv@nibo.com.br</strong> com o assunto "Vaga UI Designer". Anexe seu currículo e responda à pergunta: Por que o Nibo deveria me contratar?</p>
                </div>
            </div>
        </div>
    </article>